*
{
margin: 0;
padding: 0;
color: #333;
}

body
{
margin: 42px;
line-height: 21px;
font-family: 'Helvetica', 'FreeSans', sans-serif;
font-size: 15px;
}

p
{
margin-bottom: 21px;
}

h1, h2, h3, h4, h5, h6
{
color: #555;
}

h1
{
line-height: 21px;
font-size: 18px;
margin: 21px 0;
}

h2
{
line-height: 21px;
font-size: 15px;
margin: 21px 0;
}

h3
{
line-height: 21px;
font-size: 15px;
margin-top: 21px;
}

pre, code
{
font-family: 'Monospace',monospace;
font-size: 13px;
}

pre
{
line-height: 21px;
margin: 21px 0;
background-color: #fafafa;
padding: 10px 10px 11px 11px;
overflow-x: auto;
}

blockquote
{
line-height: 21px;
margin: 21px 21px 0 21px;
font-style: italic;
}

ul
{
list-style-type: square;
margin: 21px 0;
}

/** Footnotes **/

.footnotes
{
margin: 84px 0 0 0;
border-top: 1px solid #aaa;
padding-top: 20px; /* to account for the border. */
}

.footnotes hr
{
display: none;
}

.footnotes li
{
color: #aaa;
font-size: 13px;
font-weight: bold;
}

.footnotes li > p
{
font-size: 13px;
margin: 0;
color: #333;
font-weight: normal;
}

.footnotes .reversefootnote
{
text-decoration: none;
font-size: 10px;
}

a.footnote
{
}
