body
{
    color: #444;
    font-family: 'Free Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 21px;
    background-color: #ddd;
    margin: 3em;
}

h1
{
    font-size: 21px;
    line-height: 21px;
    margin: 21px 0 21px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

h2
{
    font-size: 15px;
    font-weight: bold;
    margin: 21px 0 21px 0;
}

p
{
    margin: 0 0 21px 0;
}

code, pre
{
    font-family: 'Monospace';
    font-size: 13px;
}
